{% extends 'layout.html' %}
{% block content %}
<div class="formwrapper">
    <h2 class="title">Entry Form</h2>
    <form method="POST" action="#">
        {{ form.hidden_tag() }}
        <div class="form-field">{{ form.title.label }} {{ form.title }}</div>
            {% if form.title.errors %}
                <ul class="errors">
                    {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <div class="form-field">{{ form.preptime.label }} {{ form.preptime }}</div>
            {% if form.preptime.errors %}
                <ul class="errors">
                    {% for error in form.preptime.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <div class="form-field">{{ form.cooktime.label }} {{ form.cooktime }}</div>
            {% if form.cooktime.errors %}
                <ul class="errors">
                    {% for error in form.cooktime.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <div class="form-field">{{ form.serves.label }} {{ form.serves }}</div>
            {% if form.serves.errors %}
                <ul class="errors">
                    {% for error in form.serves.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <div class="form-field">{{ form.ingredients.label }} {{ form.ingredients }}</div>
            {% if form.ingredients.errors %}
                <ul class="errors">
                    {% for error in form.ingredients.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <div class="form-field">{{ form.directions.label }} {{ form.directions }}</div>
            {% if form.directions.errors %}
                <ul class="errors">
                    {% for error in form.directions.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}        
        <div class="form-field">{{ form.notes.label }} {{ form.notes }}</div>
            {% if form.notes.errors %}
                <ul class="errors">
                    {% for error in form.notes.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {{ form.submit }}
    </form>
</div>
{% endblock content %}