{% extends 'layout.html' %}
{% block content %}
<h2 class="title">Search</h2>
    <div class="formwrapper container">        
        <form method="POST" action="#">
            {{ formI.csrf_token }}
            <div>Search Ingredients</div>
            <div class="form-field">{{ formI.ingredients_string }}</div>
                {% if formI.ingredients_string.errors %}
                    <ul class="errors">
                        {% for error in formI.ingredients_string.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ formI.search_ingredients }}
        </form>
    </div>
    <div class="formwrapper container">        
        <form method="POST" action="#">
            {{ formT.csrf_token }}
            <div>Search Title</div>
            <div class="form-field">{{ formT.title_string }}</div>
                {% if formT.title_string.errors %}
                    <ul class="errors">
                        {% for error in formT.title_string.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ formT.search_title }}
        </form>
    </div>
{% endblock content %} 
