{% extends 'layout.html' %}
{% block content %}
    <div class="formwrapper">
        <h2 class="title">Search by Ingredients</h2>
        <form method="POST" action="#">
            {{ form.hidden_tag() }}
            <div class="form-field">{{ form.search_string }}</div>
                {% if form.search_string.errors %}
                    <ul class="errors">
                        {% for error in form.search_string.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ form.submit }}
        </form>
    </div>
{% endblock content %} 
